services:
  mautic:
    image: mautic/mautic:v4
    environment:
      - MAUTIC_DB_HOST=${MAUTIC_DB_HOST:-mautic-nossasdb}
      - MAUTIC_DB_NAME=${MAUTIC_DB_NAME:-mautic}
      - MAUTIC_DB_PASSWORD=${MAUTIC_DB_PASSWORD:-mysecret}
      - MAUTIC_DB_USER=${MAUTIC_DB_USER:-root}
      - MAUTIC_RUN_CRON_JOBS=${MAUTIC_RUN_CRON_JOBS:-true}
      - MYSQL_PORT_3306_TCP=${MYSQL_PORT_3306_TCP:-3306}
    volumes:
      - mautic_data:/var/www/html
    healthcheck:
      test: "${DOCKER_WEB_HEALTHCHECK_TEST:-wget -qO- localhost}"
      interval: "60s"
      timeout: "3s"
      start_period: "5s"
      retries: 3
    labels:
      - traefik.enable=true
      - traefik.http.services.mautic.loadbalancer.server.port=80
      - traefik.http.routers.mautic.priority=10000
      - traefik.http.routers.mautic.tls=true
      - traefik.http.routers.mautic.tls.certresolver=myresolver
      - traefik.http.routers.mautic.rule=Host(`${MAUTIC_URL}`)

  formularios:
    image: ${FORMULARIO_DOCKER_IMAGE:-nossas/mapa-org-formularios:v1.3.6}
    restart: "${DOCKER_RESTART_POLICY:-unless-stopped}"
    pull_policy: always
    environment:
      - DEBUG=${FORMULARIO_DEBUG:-True}
      - ALLOWED_HOSTS=${FORMULARIO_ALLOWED_HOSTS}
      - VOLUNTEER_HOST=${FORMULARIO_VOLUNTEER_HOST}
      - DATABASE_URL=${FORMULARIO_DATABASE_URL}
      - BONDE_DATABASE_URL=${BONDE_DATABASE_URL}
      - MOODLE_API_URL=${FORMULARIO_MOODLE_API_URL}
      - MOODLE_API_KEY=${FORMULARIO_MOODLE_API_KEY}
      - GEOCODING_API_KEY=${FORMULARIO_GEOCODING_API_KEY}
      - GOOGLE_MAPS_API_KEY=${FORMULARIO_GOOGLE_MAPS_API_KEY}
      - MOODLE_DATABASE_URL=${FORMULARIO_MOODLE_DATABASE_URL}
      - LOOPS_API_KEY=${FORMULARIO_LOOPS_API_KEY}
      - ZENDESK_SUBDOMAIN=${FORMULARIO_ZENDESK_SUBDOMAIN}
      - ZENDESK_API_TOKEN=${FORMULARIO_ZENDESK_API_TOKEN}
      - ZENDESK_API_USER=${FORMULARIO_ZENDESK_API_USER}
      - NEW_RELIC_LICENSE_KEY=${FORMULARIO_NEW_RELIC_LICENSE_KEY}
      - NEW_RELIC_ENVIRONMENT=${FORMULARIO_NEW_RELIC_ENVIRONMENT}
    labels:
      - traefik.enable=true
      - traefik.http.services.formularios.loadbalancer.server.port=8000
      - traefik.http.routers.formularios.tls=true
      - traefik.http.routers.formularios.tls.certresolver=myresolver
      - traefik.http.routers.formularios.rule=Host(`${FORMULARIO_VOLUNTEER_HOST}`)

  moodle:
    image: bitnami/moodle:4.1
    volumes:
      - moodle_data:/bitnami/moodle
      - moodledata_data:/bitnami/moodledata
    environment:
      - MOODLE_DATABASE_TYPE=${MOODLE_DATABASE_TYPE:-pgsql}
      - MOODLE_DATABASE_HOST=${MOODLE_DATABASE_HOST}
      - MOODLE_DATABASE_USER=${MOODLE_DATABASE_USER}
      - MOODLE_DATABASE_PASSWORD=${MOODLE_DATABASE_PASSWORD}
      - MOODLE_DATABASE_NAME=${MOODLE_DATABASE_NAME}
      - MOODLE_DATABASE_PORT_NUMBER=${MOODLE_DATABASE_PORT_NUMBER:-5432}
      - MOODLE_HOST=${MOODLE_HOST}
      - MOODLE_SSLPROXY=${MOODLE_SSLPROXY:-true}
    labels:
      - traefik.enable=true
      - traefik.http.services.moodle.loadbalancer.server.port=8080
      - traefik.http.routers.moodle.tls=true
      - traefik.http.routers.moodle.tls.certresolver=myresolver
      # - traefik.http.routers.moodle.rule=Host(`${MOODLE_HOST}`)

volumes:
  mautic_data:
    driver: local
  moodle_data:
    driver: local
  moodledata_data:
    driver: local

# Todos os serviços devem pertencer a mesma rede para serem descobertos pelo Traefik
networks:
  default:
    # Padronizar o nome da rede com o nome do domínio
    name: web