services:
  caddy:
    image: nossas/caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "2019:2019"
    volumes:
      - caddy_etc:/etc/caddy
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - CADDY_ADMIN=0.0.0.0:2019
      - CADDY_EMAIL=${CADDY_EMAIL:-"seu-email@example.com"}  # Para receber notificações do Let's Encrypt
      - CADDY_ZEROSSL_API_KEY=${CADDY_ZEROSSL_API_KEY:-"ZEROSSL_API_KEY"}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-"SUA_ACCESS_KEY"}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-"SUA_SECRET_KEY"}
      - AWS_REGION=${AWS_REGION:-"us-east-1"}

  redis:
    image: redis
    command: redis-server
    ports:
      - "6379:6379"

  router-api:
    image: ${ROUTER_DOCKER_IMAGE:-nossas/bonde-router:v0.0.3}
    command: uvicorn caddy_api.api:app --reload --host 0.0.0.0
    volumes:
      - caddy_etc:/app/data/caddy
    depends_on:
      - caddy
      - redis
    environment:
      - DEBUG=True
      - JWT_SECRET=${JWT_SECRET}
      - JWT_ALGORITHM=${JWT_ALGORITHM}
      - JWT_AUDIENCE=${JWT_AUDIENCE}
      - HASURA_CRON_SECRET=${HASURA_CRON_SECRET}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - CADDY_API_URL=http://caddy:2019
  
  router-celery:
    image: ${ROUTER_DOCKER_IMAGE:-nossas/bonde-router:v0.0.3}
    command: celery -A caddy_api.manager.celery_app.app worker --loglevel=info
    volumes:
      - caddy_etc:/app/data/caddy
    depends_on:
      - caddy
      - redis
    environment:
      - DEBUG=True
      - JWT_SECRET=${JWT_SECRET}
      - JWT_ALGORITHM=${JWT_ALGORITHM}
      - JWT_AUDIENCE=${JWT_AUDIENCE}
      - HASURA_CRON_SECRET=${HASURA_CRON_SECRET}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - CADDY_API_URL=http://caddy:2019

  bonde-actions-api:
    image: ${BONDE_ACTIONS_API_DOCKER_IMAGE:-nossas/bonde-actions-api:v0.0.1}
    environment:
      - APP_NAME="[Bonde] Actions API"
      - DEBUG=${BONDE_ACTIONS_API_DEBUG:-True}
      - LOG_LEVEL=${BONDE_ACTIONS_API_LOG_LEVEL:-INFO}
      - BASE_URL=${BONDE_ACTIONS_API_BASE_URL}
      - GRAPHQL_API_URL=${BONDE_ACTIONS_API_GRAPHQL_API_URL}
      - TWILIO_ACCOUNT_SID=${BONDE_ACTIONS_API_TWILIO_ACCOUNT_SID}
      - TWILIO_AUTH_TOKEN=${BONDE_ACTIONS_API_TWILIO_AUTH_TOKEN}
      - TWILIO_PHONE_NUMBER=${BONDE_ACTIONS_API_TWILIO_PHONE_NUMBER}
      - DATABASE_URL=${BONDE_ACTIONS_API_DATABASE_URL}
      - GRAPHQL_API_URL=${BONDE_ACTIONS_API_GRAPHQL_API_URL}
      - GRAPHQL_API_TOKEN=${BONDE_ACTIONS_API_GRAPHQL_API_TOKEN}

volumes:
  caddy_etc:
    driver: local
  caddy_data:
    driver: local
  caddy_config:
    driver: local

# Todos os serviços devem pertencer a mesma rede para serem descobertos pelo Traefik
networks:
  default:
    # Padronizar o nome da rede com o nome do domínio
    name: web
    external: true
