{% extends "auth/base.html" %}

{% block module_title %}Home{% endblock %}

{% block content %}
<h1>Olá, {{ current_user.first_name }}!</h1>
<p>
    Você está acessando a ferramenta de gerenciamento de Sites do Bonde. Neste módulo você
    é capaz de garantir que suas páginas estão online, e caso não estiverem, você será capaz de identificar
    e corrigir os problemas.
</p>
<h2>Entenda como funciona</h2>
<p>
    Primeiro nós compramos um domínio e apontamos suas configurações para um de nossos servidores.
    Você pode fazer isso, preenchendo o formulário abaixo.
</p>
<div class="d-flex">
<form class="w-50 d-flex flex-column bg-light p-3" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="mb-3 col-6">
            {{ form.name.label }}<br>
            {{ form.name(size=26) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="mb-3 col-6">
            {{ form.external_id.label }}<br>
            {{ form.external_id }}<br>
            {% for error in form.external_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="mb-3 col-6">
            {{ form.purchase_at.label }}<br>
            {{ form.purchase_at }}<br>
            {% for error in form.purchase_at.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="mb-3 col-6">
            {{ form.expired_at.label }}<br>
            {{ form.expired_at }}<br>
            {% for error in form.expired_at.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-end">
        {{ form.submit() }}
    </div>
</form>
<ul class="w-50">
    {% for domain in domains %}
    <li>
        <strong>Domínio:</strong> {{domain.name}}
        <ul>
            <li><strong>Está ativo?</strong> {{domain.is_active}}</li>
            <li><strong>Está configurado no Route53?</strong> {{domain.is_route53}}</li>
            <li>
                <strong>Está configurado no Traefik?</strong>
                {% if domain.traefik_rules|length > 0 %}
                <ul>
                {% for rule in domain.traefik_rules %}
                <li>Chave: {{rule.key}}<br>Valor: {{rule.value}}</li>
                {% endfor %}
                </ul>
                {% else %}
                False
                {% endif %}
            </li>
        </ul>
    </li>
    {% endfor %}
</ul>
</div>
<div class="mt-3">
    <p>
        Agora você deve conseguir encontrar seu domínio na lista acima, ele provavelmente
        estara com varias checagens falhando, isso porque você precisa realizar algumas configurações:
    </p>
    <ol>
        <li>
            <p>
                Acesse as <a href="{{ url_for('dns.list_hosted_zones') }}">Zonas de Hospedagem</a> e
                garanta que seu domínio está na lista e com um registro do tipo <strong>A</strong>
                configurado para o IP <strong>{{ public_ip }}</strong>. Ao completar essa
                configuração verá o Route53 ficando verde.
            </p>
        </li>
        <li>
            <p>
                Agora vamos informar para o Traefik qual serviço interno você quer acessar (Bonde ou CMS),
                e quais são as regras de endereço que devemos considerar para tal apontamento. Em alguns casos
                compramos mais de um domínio com extensões diferentes como .com e .com.br, ou até usamos
                diversos subdomínios.
            </p>
            <p>
                Acesse as <a href="{{ url_for('etcd.list_keys') }}">Configurações de Rota</a> para criar
                seus apontamentos. Após configurado corretamente verá o Traefik ficando verde.
            </p>
        </li>
        <li>
            <p>
                Talvez você ainda esteja vendo seu site como desativado, se você configurou tudo corretamente
                isso pode ser um problema nas configurações internas do serviço que você escolheu apontar (Bonde ou CMS)
            </p>
            <strong>Possíveis soluções</strong>
            <ul>
                <li>
                    <strong>Bonde:</strong> Pode ser que não exista uma Mobilização com o domínio customizado
                    configurado.
                </li>
                <li>
                    <strong>CMS:</strong> No CMS você precisa garantir que existe um Site configurado.
                </li>
            </ul>
        </li>
    </ol>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
    {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
{% endblock %}