{% extends "base.html" %}

{% block main %}
<div class="d-flex flex-column py-5 w-50 mx-auto">
    <h1>Autenticar</h1>
    <p>Utilize do seu acesso na plataforma bonde.org, caso não tenha acesso entre em contato com o administrador do sistema.</p>
    <form class="d-flex flex-column py-2" method="POST">
        <div class="mb-3">
            <label class="form-label" for="username">Usuário:</label>
            <input class="form-control" type="email" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Senha:</label>
            <input class="form-control" type="password" id="password" name="password" required>
        </div>
        <button class="btn btn-dark" type="submit">Login</button>
    </form>
</div>
{% endblock %}