{% extends "base.html" %}

{% block title %}DNS Records{% endblock %}

{% block main %}
    <h1>DNS Records</h1>

    <!-- Lista os registros DNS -->
    <ul>
        {% for record in records %}
            <li>
                <strong>Type:</strong> {{ record['Type'] }} <br>
                <strong>Name:</strong> {{ record['Name'] }} <br>
                <strong>Values:</strong>
                <ul>
                    {% for value in record['ResourceRecords'] %}
                        <li>{{ value['Value'] }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <a href="/dns">Voltar para a lista de zonas</a>
{% endblock %}
